@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h3 {
  color: #3e2b64;
  font-weight: bold;
  text-align: left;
  font-size: 23px;
  margin-bottom: 20px;
}

body {
  direction: rtl;
  background-color: #fff !important;
  color: #444;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  /*text-transform: capitalize;*/
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: "Droid Arabic Naskh";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 140px; /* bottom = footer height */
}

input,
select {
  width: 100%;
  border: solid 1px #dadfe3;
  line-height: 2;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
}

header .logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}

.logo img {
  max-width: 100%;
  margin: 1em auto;
}

.wrapper {
  width: 95%;
  max-width: 1024px;
  margin: auto;
  margin-top: 15px;
}

.h-seperator {
  width: 100%;
  border-bottom: 2px dashed #c9d0e1;
  margin: 2em auto 2em auto;
  display: block;
  padding: 0em;
  opacity: 0.3;
}

.lead {
  font-size: 1.1em;
  color: #444;
  font-weight: 700;
  padding: 5px 2px 15px;
  display: inline-block;
  width: auto;
}

.icon {
  font-size: 1.4em;
}

.icon-basket:before {
  content: "\e800";
} /* '' */
.icon-tags:before {
  content: "\e801";
} /* '' */
.icon-money:before {
  content: "\e802";
} /* '' */
/*****************NAV******************/

.nav {
  margin: 2em auto;
}
.nav ul {
  width: 100%;
  height: auto;
}
.nav ul li {
  list-style: none;
  width: 33%;
  display: inline-block;
  text-align: center;
  padding: 1.5em;
  color: #c9d0e1;
  border-bottom: 5px solid #eaedf3;
  text-transform: uppercase;
  opacity: 0.7;
}

.nav ul li:first-child {
  width: 31%;
  margin-right: 1.5%;
}
.nav ul li:last-child {
  width: 31%;
  margin-left: 1.5%;
}
.nav ul li.active {
  color: #444;
  border-bottom-color: #189d5b;
  opacity: 1;
}

/*****************order info******************/

.order-info {
  width: 100%;
  border: 1px solid #c9d0e1;
  padding: 3%;
  margin: 2em auto;
  border-radius: 4px;
  overflow: hidden;
  color: #838f96;
}

.items {
  width: 80%;
  height: auto;
  float: right;
}

.items li {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5em 3em;
  /*font-weight: 700;*/
}

.items .lead,
.price .lead {
  text-transform: uppercase;
  padding: 0.5em 0.6em;
}
.price {
  width: 20%;
  height: auto;
  float: left;
}
.price li {
  margin: 0.5em 3em;
  font-weight: 700;
}

/*****************payment method customized v1******************/
/*.payment-method{
  overflow: hidden;
}

.payment-method .lead{
  width:100%;
  font-size: 2em;
  display: block;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom:1eml


}
.payment-method small{
  padding-top: 1em;;
  display:block;
  width:100%;
  text-align: center;
  color:#C9D0E1;
  font-size: 60%;
  font-weight: 400;
  text-transform: lowercase;
}*/

.payment-method {
  overflow: hidden;
}
.payment-method small {
  color: #838f96;
  font-size: 75%;
  font-weight: 400;
  text-transform: lowercase;
}

.payment-method > ul {
  overflow: hidden;
  width: 100%;
}

.payment-method li {
  width: 100%;
  position: relative;
}

.payment-option {
  width: 100%;
  padding: 1em 2em 1em 4em;
  margin: 0.4em 0;
  height: auto;
  display: block;
  color: #444444;

  overflow: hidden;
  cursor: pointer;
  background: #f3f4f7;
  border-radius: 5px;
  border: 2px dashed #ffffff;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  -o-transition: -o-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  transition: transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
}

.payment-option img {
  width: auto;
  max-width: 100%;
  height: 50px;
  float: right;
}

.payment-option:hover {
  -webkit-filter: brightness(1.01);
  -moz-filter: brightness(1.01);
  filter: brightness(1.01);
  /*-webkit-transform: scale(.99, .99);*/
  /*-ms-transform: scale(.99, .99);
  -o-transform: scale(.99, .99);
  transform: scale(.99, .99);*/
  border: 2px dashed #e0e4ee;
}

.payment-method input {
  /*margin:0;padding:0;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.payment-method li input:active + .payment-option {
  opacity: 0.9;
}
.payment-method li input:checked + .payment-option {
  border: 2px dashed #189d5b;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.payment-option span {
  text-align: left;
  height: 50px;
  font-size: 0.9em;
  font-weight: 700;
  display: table-cell;
  vertical-align: middle;
}

.payment-option::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 36px;
  border: 1px solid #d3daeb;
  border-radius: 50%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #fff;
}

.payment-option::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 36px;
  color: #189d5b;
  font-size: 1.8em;
  border-radius: 50%;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  -o-transition: -o-transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
  transition: transform 0.2s cubic-bezier(0.8, -0.66, 0.1, 1.66);
}

input:checked + .payment-option::after {
  content: "\E806";
  font-family: "fontello";
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/*****************actions******************/
.actions {
  width: 100%;
  height: auto;
  padding: 1em 0;
  overflow: hidden;
  margin: 3em auto;
}

.actions a {
  width: 200px;
  padding: 1em;
  display: block;
  float: left;
  background: #d8d8d8;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.actions a:hover {
  opacity: 0.9;
}

.actions .back {
  background: #fff;
  color: #189d5b;
  border: 1px solid #189d5b;
}
.actions .continue {
  float: right;
  background: #3e2b64;
}

.actions .btm {
  width: auto;
  max-width: 300px;
  float: none;
  background: #189d5b;
  text-align: center;
  margin: auto;
  padding: 1em 2em;
}

label {
  color: #757575;
  margin-bottom: 8px;
  font-weight: 600;
  color: #888;
}

h2 {
  text-align: left;
  margin-bottom: 22px;
  color: #3e2b64;
  font-weight: bold;
  font-size: 22px;
}

.col-xs-6 {
  width: 45%;
  float: left;
  margin-right: 5%;
}

/*****************Confirmation******************/

.confirmation {
  text-align: center;
  width: 100%;
  /*background: rgba(243, 244, 247, 0.33);
  border: 1px solid #F0F2F6;*/
  padding: 7% 0 4%;
  margin: 3em 0;
  border-radius: 4px;
  text-align: center;
}

.confirmation label {
  display: block;
  width: 100%;
  font-size: 3em;
  margin-bottom: 0.7em;
  color: #189d5b;
  text-transform: uppercase;
}

.confirmation .failed {
  color: #d8000c;
}

.confirmation small {
  font-size: 55px;
  color: #838f96;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 75px;
  display: block;
}

.order-confirmation {
  width: 100%;
  border: 1px solid #c9d0e1;

  padding: 3%;
  margin: 2em auto;
  border-radius: 4px;
  overflow: hidden;
  color: #838f96;
  text-align: center;
}

em.seperator {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #b9c0c4;
  padding-top: 10px;
}
.hidden {
  display: none;
}

.block {
  display: block;
}

.info,
.success,
.warning,
.error,
.validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529b;
  background-color: #bde5f8;
  background-image: url("info.png");
}
.success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url("success.png");
}
.warning {
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("warning.png");
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("../img/error.png");
}

.details {
  direction: ltr;
}

label {
  text-align: left;
  display: block;
}

/*****************footer******************/

@media only screen and (max-width: 480px) {
  .actions a {
    width: 40%;
  }
  .items .lead,
  .price .lead {
    padding: 0.5em 0.5em;
  }
  .price {
    width: 35%;
  }
  .items {
    width: 65%;
  }
  .lead {
    font-size: 0.9em;
  }
  .icon {
    font-size: 0.8em;
  }
  .items li {
    margin: 0.5em 1.2em;
  }
  .confirmation small {
    font-size: 15px;
  }
}

/**********************table****************/
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
}

table,
th,
td {
  border: medium none;
}

th {
  background-color: #4caf50;
  color: white;
  padding-bottom: 11px;
  padding-top: 11px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
