@include component(sec-padding) {
	@include rem-spacing(padding, 120, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(container-wrapper) {
	width: 1600px;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 2000px) {
        width: 1200px;
        max-width: 1200px;
    }

    @media (max-width: 1400px) {
        width: 1000px;
        max-width: 1000px;
    }

    @media (max-width: 1199px) {
        width: 100%;
        max-width: inherit;
    }
}

@include component(maintitle) {
	color: $theme-white;
}

@include component(maindesc) {
	
}

@include component(main-section) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

    section {
    	min-width: 24%;
        //max-width: 360px;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding: 0 0 3%;
        color: $theme-white;
        z-index: 1;
        overflow: hidden;
        flex-wrap: wrap;
        //background-size: 100% 100%;
        background-size: cover;
        background-position: top center;
        position: relative;
        transition: ease all .3s!important;
        transition-delay: 1s;

        // @media (min-width: 1200px) {
        //     min-width: 25%;
        // }

        @media (max-width: 1199px) {
            display: inline-block;
            float: left;
            @include size(50%, 600px);
            max-width: inherit;
            min-width: inherit;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        &.home-container {
    	    min-width: 100% !important;

            // &:after {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     @include size(40%, 100%);
            //     content: '';
            //     background-color: rgba($theme-primary, 0.8);
            // }

            @media (max-width: 575px) {
                height: 600px;
            }
        }

        &.contact-container {
            min-width: 85% !important;
            background-color: $theme-primary;
            align-items: center;
            @include rem-spacing (padding, 0);

            @media (max-width: 1199px) {
                @include size(100%, auto);
            }
        }

        @include component(inner-content) {
            position: absolute;
            z-index: 6;
            top: 0;
            left: 0;
            @include size(50%, 100vh);
            @include transition(0.3s);
            //mix-blend-mode: darken;

            @media (max-width: 1199px) {
                @include size(100%, 50%);
                @include rem-spacing (padding, 0);
                top: 50%;
            }

            @include option(football) {
                background-color: rgba($theme-football, 0.84);
            }

            @include option(tennis) {
                background-color: rgba($theme-tennis, 0.84);
            }

            @include option(padel) {
                background-color: rgba($theme-padel, 0.4);
            }

            @include option(rugby) {
                background-color: rgba($theme-black, 0.8);
            }

            @include option(running) {
                background-color: rgba($theme-running, 0.84);
                //mix-blend-mode: overlay;
            }

            @include option(eupepsia) {
                background-color: rgba($theme-eupepsia, 0.8);
            }

        }

        @include component(vertical-heading) {
            @include transform(translateX(-50%) translateY(-50%) rotate(-90deg));
            position: absolute;
            top: 220px;
            left: 54px;
            text-align: right;
            width: 380px;
            white-space: nowrap;
            @include rem-spacing (margin, 0);
            z-index: 4;

            // @media (min-width: 2000px) {
            //     width: 450px;
            //     right: 86px;
            //     top: 220px;
            // }

            // @media (max-width: 1600px) {
            //     right: 112px;
            // }

            // @media (max-width: 1400px) {
            //     top: 180px;
            //     left: -130px;
            //     right: auto;
            //     width: 340px;
            // }

            @media (max-width: 1199px) {
                // left: -110px;
                // width: 300px;
                display: none;
            }

            @include component(title) {
                line-height: 1;
                @include fontSize(80px);
                font-weight: $font-weight-xblack;
                text-transform: uppercase;

                // @media (min-width: 2000px) {
                //     @include fontSize(80px);
                // }

                @media (max-width: 1024px) {
                    @include fontSize($font-size-h2 + 10px);
                }
            }
        }

        @include option(sports-box) {

            @include component(video-bg) {
                object-fit: cover;
                @include size(100%, 100%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
            }

            @include component(bottom-content) {
                position: absolute;
                bottom: 6%;
                left: 0;
                width: 100%;
                @include rem-spacing (padding, 0, 30);
                z-index: 4;

                @include component(title) {
                    text-transform: uppercase;
                    @include rem-spacing (padding, 0, 0, 50);
                    font-size: calc(18vw / 2);
                    display: none;

                    @media (max-width: 767px) {
                        font-size: 18vw;
                        line-height: 16vw;
                    }
                }

                @include component(desc) {
                    color: $theme-default;
                    @include fontSize($font-size-large);

                    @include option(white) {
                        color: $theme-white;
                    }

                    @include component(xicon) {
                        vertical-align: middle;
                    }
                }

                @media (max-width: 1199px) {
                    bottom: 60px;

                    @include component(title) {
                        display: block;
                    }
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                @include size(100%, 100%);
                z-index: 3;
            }

            &.about {
                align-items: center;
                justify-content: center;

                @include component(about-content) {
                    @include rem-spacing (padding, 0, 30);
                    position: relative;
                    z-index: 4;
                    
                    @include component(title) {
                        color: $theme-primary;
                        @include fontSize($font-size-h2 + 24px);
                        line-height: 1;
                        @include rem-spacing (margin-bottom, 20);
                    }

                    @include component(desc) {
                        color: $theme-primary;
                        @include fontSize($font-size-large);
                    }
                }

                @media (max-width: 1199px) {
                    width: 100%;
                    @include rem-spacing (padding, 80, 0);
                    height: inherit;
                }
            }

            &.football {
                &:before {
                    background-color: rgba($theme-football, 0.84);
                    //mix-blend-mode: darken;
                }
            }

            &.tennis {
                &:before {
                    background-color: rgba($theme-tennis, 0.84);
                }
            }

            &.rugby {
                &:before {
                    background-color: rgba($theme-black, 0.8);
                }
            }

            &.padel {
                &:before {
                    background-color: rgba($theme-padel, 0.6);
                }
            }

            &.running {
                &:before {
                    background-color: rgba($theme-running, 0.84);
                    //mix-blend-mode: overlay;
                }
            }

            @media (max-width: 1199px) {
                height: 500px;
            }
        }

        @include component(readmore-btn) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            @include size(100%, 100%);
        }

        &.about-page {
            @include component(about-desc) {
                color: $theme-white;
                @include fontSize($font-size-large);

                @media (max-width: 1400px) {
                    @include fontSize($font-size-medium);
                }
            }
        }
    }

    @media (max-width: 1199px) {
        position: relative;
        display: block;
    }
}

// Inner Pages
@include component(inner-page-section) {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    background-size: cover;
    background-position: top center;
    position: relative;
    min-height: 100vh;

    @include component(inner-content) {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        min-height: 100vh;
        @include size(210px, 100%);

        @include option(football) {
            background-color: rgba($theme-football, 0.84);
            //mix-blend-mode: darken;
        }

        @include option(tennis) {
            background-color: rgba($theme-tennis, 0.84);
        }

        @include option(rugby) {
            background-color: rgba($theme-black, 0.8);
        }

        @include option(running) {
            background-color: rgba($theme-running, 0.84);
            //mix-blend-mode: overlay;
        }

        @include option(eupepsia) {
            background-color: rgba($theme-eupepsia, 0.8);
        }

        @include option(registration) {
            background-color: rgba($theme-black, 0.8);
            width: 100%;
        }

        @media (max-width: 1199px) {
            min-height: auto;
            @include size(100%, 240px);
            position: relative;
        }

        // @media (max-width: 575px) {
        //     width: 200px;
        // }
    }

    @include component(vertical-heading) {
        @include transform(rotate(-90deg));
        position: absolute;
        top: 220px;
        left: -90px;
        text-align: right;
        width: 450px;
        white-space: nowrap;
        @include rem-spacing (margin, 0);
        z-index: 4;

        @media (min-width: 2000px) {
            top: 220px;
        }

        @media (max-width: 1199px) {
            @include transform(rotate(0deg));
            top: 100px;
            left: 20px;
            text-align: left;
            width: auto;
        }

        // @media (max-width: 575px) {
        //     left: -180px;
        // }

        @include component(title) {
            line-height: 130px;
            @include fontSize($font-size-h2);
            font-size: 5vw;
            color: $theme-white;
            font-weight: $font-weight-xblack;
            text-transform: uppercase;

            @media (min-width: 2000px) {
                @include fontSize(80px);
            }

            @media (max-width: 1199px) {
                @include fontSize($font-size-h1 - 20px);
            }

            @include option(registration) {
                
                @media (max-width: 767px) {
                    @include fontSize($font-size-h1 - 40px);
                }
            }
        }
    }

    @include component(content-section) {
        position: absolute;
        left: 210px;
        top: 0;
        height: 100%;
        width: calc(100% - 210px);
        z-index: 4;
        background-color: rgba($theme-black, 0.6);
        display: flex;
        align-items: center;

        @include component(mobile-content) {
            @include rem-spacing (padding, 0, 40);
            color: $theme-white;
            @include fontSize($font-size-large);
            @include rem-spacing (margin-bottom, 40);
        }

        @include component(inner-page-content) {
            width: 100%;
            position: relative;
            display: flex;
            align-items: start;
            @include rem-spacing (margin-top, 120);
            flex-wrap: wrap;

            @include component(box) {
                
                &:last-child {
                    border-right: none !important;
                }
            }

            @media (max-width: 1199px) {
                display: block;
            }
        }

        @media (max-width: 1199px) {
            position: relative;
            @include rem-spacing (padding, 40, 0);
            display: block;
            min-height: calc(100vh - 240px);
            left: 0;
            width: 100%;

            @include component(mobile-content) {
                display: block;
            }
        }

        @include option(registration-page) {
            background-color: rgba($theme-black, 0.8);
        }

        // @media (max-width: 575px) {
        //     @include rem-spacing (padding, 100, 0);
        // }

        @include option(scroll-page) {
            overflow-y: auto;
            display: block;
            @include rem-spacing (padding, 120, 0, 60);

            article {
                @include rem-spacing (padding, 0, 40, 0);

                @media (max-width: 1200px) {
                    @include rem-spacing (padding, 0, 20, 0);
                }
            }

            @include component(bottom-section) {
                width: 70%;

                @media (max-width: 1200px) {
                    width: 100%;
                }
            }

            @include component(title) {
                
                @include option(big) {
                    line-height: 1;
                    @include fontSize($font-size-h2);
                    //font-size: 4vw;
                    font-weight: $font-weight-xblack;
                    text-transform: uppercase;
                    @include rem-spacing (margin-bottom, 30);
                    color: $theme-white;

                    @media (min-width: 2000px) {
                        @include fontSize(80px);
                    }

                    @media (max-width: 1024px) {
                        @include fontSize($font-size-h2 + 10px);
                    }

                };
                
            }

            @include component(subtitle) {
                color: $theme-white;
                @include fontSize($font-size-h3);
                font-weight: $font-weight-bold;

                @media (max-width: 991px) {
                    @include fontSize($font-size-large);
                }
            }

            @include component(mobile-content) {
                @include rem-spacing (padding, 0);
            }

            @include component(introductive-title) {
                color: $theme-white;
                text-transform: uppercase;
                @include fontSize($font-size-h3);
                font-weight: $font-weight-bold;
                @include rem-spacing (padding, 14, 0);
                border-top: 1px solid;
                border-bottom: 1px solid;
                @include rem-spacing (margin, 20, 0);
                line-height: 1.2;

                @include option(athletics) {
                    border-color: $theme-running;
                }

                @include option(football) {
                    border-color: $theme-football;
                }

                @include option(tennis) {
                    border-color: $theme-white;
                }

                @include option(rugby) {
                    border-color: $theme-black;
                }
            }

            @include component(table-section) {
                
                @include component(table-title) {
                    text-transform: uppercase;
                    @include rem-spacing (padding, 10, 16);
                    font-weight: $font-weight-bold;
                    color: $theme-white;
                    @include fontSize($font-size-h5);
                }

                @include component(detail-table) {
                    color: $theme-white;

                    &.Rtable {
                        @include component(Rtable-cell) {
                            border: none;
                            background-color: transparent;

                            @media (max-width: 991px) {
                                @include rem-spacing (padding, 12, 0);
                            }

                            @include component(body) {
                                @extend .clearfix;

                                @include component(header) {
                                    @include fontSize($font-size-h6);
                                    font-weight: $font-weight-bold;
                                    text-transform: uppercase;
                                    color: $theme-white;
                                    line-height: 1.2;

                                    @media (max-width: 991px) {
                                        @include fontSize($font-size-large);
                                    }
                                }

                                @include component(content) {
                                    @include fontSize($font-size-h6);
                                }
                            }

                            @include option(head) {
                                @include fontSize($font-size-h6);
                                font-weight: $font-weight-bold;
                                text-transform: uppercase; 
                            }

                            @include component(body) {
                                border-bottom: 1px solid;
                            }
                        }
                    }

                    @include option(big-table) {
                        &.Rtable {
                            @include component(Rtable-cell) {
                                border-bottom: 1px solid $theme-white;

                                @include component(body) {
                                    border: none;
                                }
                            }
                        }
                    }
                }

                // Athletics
                @include option(athletics) {
                    
                    @include component(table-title) {
                        background-color: $theme-primary;
                    }

                    @include component(detail-table) {

                        &.Rtable {
                            @include component(Rtable-cell) {

                                @include option(head) {
                                    background-color: $theme-running;
                                }

                                @include component(body) {
                                    border-color: $theme-running;

                                }
                            }
                        }
                        
                    }

                }

                // Tennis
                @include option(tennis) {
                    
                    @include component(table-title) {
                        background-color: $theme-primary;
                    }

                    @include component(detail-table) {

                        &.Rtable {
                            @include component(Rtable-cell) {

                                @include option(head) {
                                    background-color: rgba($theme-tennis, 0.84);
                                }

                                @include component(body) {
                                    border-color: $theme-white;
                                }
                            }
                        }
                    }

                }


                // Eupepsia
                @include option(eupepsia) {
                    
                    @include component(table-title) {
                        background-color: $theme-primary;
                    }

                    @include component(detail-table) {

                        &.Rtable {
                            @include component(Rtable-cell) {

                                @include option(head) {
                                    background-color: $theme-eupepsia;
                                }

                                @include component(body) {
                                    border-color: $theme-eupepsia;
                                    @extend .clearfix;

                                    @include component(header) {
                                        @include fontSize($font-size-h6);
                                        font-weight: $font-weight-bold;
                                        text-transform: uppercase;
                                        color: $theme-white;
                                        line-height: 1.2;

                                        @media (max-width: 991px) {
                                            @include fontSize($font-size-large);
                                        }
                                    }

                                    @include component(content) {
                                        @include fontSize($font-size-h6);
                                    }
                                }
                            }
                        }

                        @include option(big-table) {
                            &.Rtable {
                                @include component(Rtable-cell) {
                                    border-bottom: 1px solid $theme-white;

                                    @include component(body) {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }

                }


            }
        }
    }

    @media (max-width: 1199px) {
        position: relative;
        display: block;
        height: inherit;
        background-attachment: fixed;
    }
}

// Contact Section  
@include component(contact-inner-container) {
    @include rem-spacing (padding, 20, 60);
    width: 100%;
    overflow-y: auto;
    height: 100%;

    @media (max-width: 1199px) {
        @include rem-spacing (padding, 30);
    }

    @include component(maintitle) {
        @include fontSize(80px);
        text-transform: uppercase;
        line-height: 1;
        @include rem-spacing (margin-bottom, 30);
    }

    @include component(maindesc) {
        @include fontSize($font-size-large);
    }

    @include component(setmap) {
        @include size(100%, 100%);
    }
}

// Inner Page Gallery Section
@include component(gallery-section) {
    @include rem-spacing(padding, 0, 40);
    @include rem-spacing(margin-top, 60);

    @include component(maintitle) {
        @include rem-spacing(margin-bottom, 10);
    };
};

// Hover
@include component(video-section) {
    
    &:hover {
        &:before {
            display: none !important;
        }
    }
}

@include component(inner-regiration-box) {
    width: 70%;
    @include rem-spacing (margin-top, 20);
    background-color: rgba($theme-black, 0.8);
    @include rem-spacing (padding, 20, 40);

    @include component(title) {
        color: $theme-white;
        @include rem-spacing (margin-bottom, 20);

        @media (max-width: 1200px) {
            @include rem-spacing (margin, 0, 20, 20);
        }
    }

    @media (max-width: 1200px) {
        width: 100%;
        @include rem-spacing (padding, 20, 0);
    }
}