@include component(check-list) {
	margin-bottom: 30px;
	
	li{
		position: relative;
		padding-left: 24px;
		margin-bottom: 16px;

		&:before{
			content: '\2714';
			position: absolute;
			left: 0;
			top: 0;
			color: $theme-primary;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-medium);
		}
	}
}