// Modal CSS
@include component(x-modal) {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    background-color: rgba($theme-black, 0.8);
    z-index: 12;
    //@include transition(opacity .15s linear);
    @include transition(0.6s);
    //@include opacity(0);

    @include component(close-btn) {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $theme-white;
        @include fontSize($font-size-h5);
    }

    @include component(modal-content) {
        position: relative;
        top: 0%;
        left: 0;
        right: 0;
        max-width: 1110px;
        margin: 30px auto;
        @include transform(translate(0, -50%));
        border: 1px solid $theme-primary;
        background-color: $theme-black;
        @include transition(transform 0.3s ease-out);

        @media (max-width: 991px) {
            @include rem-spacing (margin, 0, 20);
        }

        @media (max-width: 767px) {
            position: absolute;
        }

        @include component(inner-content) {
            @include rem-spacing (padding, 40);
        }
    }

    &.show {
        overflow-x: hidden;
        overflow-y: auto;
        @include transition(opacity .15s linear);

        @include component(modal-content) {
            @include transform(translate(0, 0));
        }
    }

    @include option(popup-form) {
        
        @include component(close-btn) {
            color: $theme-black;
        }

        @include component(modal-content) {
            background-color: $theme-running;
            max-width: 420px;
            margin: 0 auto;
        }

        @include component(title) {
            text-align: center;
            color: $theme-white;
            text-transform: uppercase;
            line-height: 1.2;
        };

        @include component(subtitle) {
            color: $theme-black;
            @include fontSize($font-size-large);
            text-align: center;
            @include rem-spacing(margin, 20, 0);
        };
    };
}