$icomoon-font-family: "xicon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mobile: "\e900";
$icon-arrow_right: "\e90e";
$icon-arrow_left: "\e90f";
$icon-play_btn: "\e90d";
$icon-arrow_up: "\e90c";
$icon-arrow_down: "\e901";
$icon-search: "\e902";
$icon-close_circle: "\e910";
$icon-close: "\e911";
$icon-google: "\e903";
$icon-google_square: "\e912";
$icon-linkedin_square: "\e913";
$icon-youtube_square: "\e914";
$icon-twitter_square: "\e915";
$icon-facebook_square: "\e916";
$icon-instagram: "\e904";
$icon-youtube: "\e905";
$icon-map_pointer: "\e906";
$icon-phone: "\e907";
$icon-email: "\e908";
$icon-twitter: "\e909";
$icon-linkedin: "\e90a";
$icon-facebook: "\e90b";

